/* Define a fade-in animation */
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* Apply the animation to your sections */
.Section {
	animation: fadeIn 0.3s ease-in-out;
	/* You can adjust the animation duration and timing function as needed */
}
